# Object files
build/*.o

# Shared objects
*.dylib

# Executables
bin/*

# Debug files
*.dSYM/

# Output
output/*

# latex
*.aux
*.log
*.out
*.toc
*.gz
*.fdb_latexmk

# Kernel Module Compile Results
.DS_Store
